* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #2e2e2e;
}

#main-header {
    background-color: #2c3e50;
    /* Màu nền đậm */
    color: white;
    padding: 15px 5%;
    display: flex;
    /* Sử dụng Flexbox để căn chỉnh */
    justify-content: center;
    align-items: center;
    position: sticky;
    /* Cố định thanh navigation */
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
    margin-right: auto;
}

/* Menu Chính */
.main-nav {
    margin-right: auto;
}

.main-nav ul {
    list-style: none;
    display: flex;
}

.main-nav ul li {
    margin: 0 15px;
}

.main-nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

.main-nav ul li a:hover {
    color: #3498db;
    /* Hiệu ứng hover */
}


/*  Login Form */
.main-container {
    background-color: #3498db;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
}

.login-form {
    background-color: white;
    padding: 40px 50px;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 400px;
}

.login-form h2 {
    text-align: center;
    margin-bottom: 30px;
}


.field-input {
    display: flex;
    flex-direction: column;
    /* label nằm trên, input nằm dưới */
    margin-bottom: 20px;
}


.field-input label {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
}


.field-input input {
    padding: 10px 12px;
    border: 2px solid #4c4c4c;
    border-radius: 6px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

.field-input input:focus {
    border-color: red;
    background-color: #333;
}

.login-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-bottom: 20px;
}

.login-option label {
    display: flex;
    align-items: center;
    gap: 6px;
}

.forgot-password {
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}


.login-button {
    width: 100%;
    padding: 12px 0;
    border: none;
    border-radius: 6px;
    background: red;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 20px rgba(255, 102, 0, 0.5);
}


.login-register {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;

}

.login-register a {
    color: red;
    text-decoration: none;
    font-weight: 500;

}

.login-register a:hover {
    text-decoration: underline;
}

@media (max-width: 968px) {
    .movie-selection-content {
        grid-template-columns: repeat(2, 1fr);
    }

    .menu-nav {
        gap: 20px;
    }

    .menu-item {
        font-size: 14px;
        padding: 6px 12px;
    }

    .news-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 640px) {
    .movie-selection-content {
        grid-template-columns: 1fr;
    }

}