* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #2e2e2e;
}

#main-header {
    height:10vh;
    background-color: #2c3e50; /* Màu nền đậm */
    color: white;
    padding: 15px 5%;
    display: flex; /* Sử dụng Flexbox để căn chỉnh */
    justify-content: center;
    align-items: center;
    position: sticky; /* Cố định thanh navigation */
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
    margin-right:auto ;
}
/* Menu Chính */
.main-nav {margin-right: auto;}
.main-nav ul {
    list-style: none;
    display: flex;
}

.main-nav ul li {
    margin: 0 15px;
}

.main-nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

.main-nav ul li a:hover {
    color: #3498db; /* Hiệu ứng hover */
}

/*  Register Form */
.main-container {
    background-color: #3498db;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
}

.register-form {
    background-color: white;
    padding: 40px 50px;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.3);
    width: 100%;
    max-width:50%;
    text-align: center;
}
.form-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.register-form h2 {
    text-align: center;
    margin-bottom: 30px;
    
}


.field-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}


.field-input label {
    font-size: 14px;
    font-weight: 600;
    
    margin-bottom: 8px;
}


.field-input input{
    padding: 10px 12px;
    border: 2px solid #4c4c4c;
    
    
    border-radius: 6px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s ease;
}
.gender-option {
    display: flex;
    gap: 20px;
    margin-top: 8px;
    font-size: 14px;
    color: #333;
}
.register-button {
    width: 50%;
    padding: 12px 0;
    border: none;
    border-radius: 6px;
    background-color: red;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.register-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 20px rgba(255, 102, 0, 0.5);
}

.register-login {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    
}

.register-login a {
    color: red;
    text-decoration: none;
    font-weight: 500;
}

.register-login a:hover {
    text-decoration: underline;
}

@media (max-width: 968px) {
    .movie-selection-content {
        grid-template-columns: repeat(2, 1fr);
    }

    .menu-nav {
        gap: 20px;
    }

    .menu-item {
        font-size: 14px;
        padding: 6px 12px;
    }
    .news-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 640px) {
    .movie-selection-content {
        grid-template-columns: 1fr;
    }

}