# Python
__pycache__/
*.py[cod]

# pipenv
Pipfile.lock

# Virtual environment (pipenv stores venv outside project folder)
.venv/
*.venv/
*/.venv/

# Django
*.sqlite3
staticfiles/

# Environment variables
.env

# VSCode
.vscode/
