/* User Challenge Page Styles */
body {
    background: #eef2f7;
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    background: #2c3e50;
    padding: 20px;
    text-align: center;
    color: white;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px
}

.header a {
    text-decoration: none;
    color: white;
}

.container {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
}

.card {
    background: white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    margin-bottom: 30px;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
}
.input-box {
    width: 100%;
    height: 100px;
    border-radius: 8px;
    padding-top: 5px;
    padding-left: 5px;
    margin-top: 5px;
    resize: none;
}

.btn-primary {
    padding: 10px 18px;
    border: none;
    background: #3498db;
    color: white;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;

}

.btn-primary:hover {
    background: #217dbb;
}

